.navbar-icons>i:first-child {
    margin-left: 30px;
    margin-right: 40px;
}
.cart-dropdown-content{
	left: 20px;
}
.inputBox button i{
	transform: rotate(180deg);
}
.inputBox button{
	margin-left: 15px;
	margin-right: 0px;
}
.closeBtn{
	right: 97%;
}
.inputBox input{
	padding-left: 0px;
	padding-right: 15px;
}
.top-nav-logo {
        padding: 60px 25px 0px 0px;
}
.top-nav-logo>h6,.footer-nav-logo>h6 {
   width: 100%;
   text-align: right;
   
 }
#cart{
	margin-left: 20px;
}
.banner-bg{
	background: url(../images/sliderbg1.png) no-repeat right;
}
.banner-text-3{
	font-size: 222px;
}
.paintings-number{
	margin-right: 0px;
}
.paintings-title {
	    border: 2px solid #f5f5f5;
       border-right: none;
}
.our-advantages {
    background: url(../images/advantagebg.png) no-repeat left top;
}
.latest-painting-img>span>img{
	margin-left: 0px;
	margin-right: 130px;
}
.latest-painting-details-links>a:first-child{
	margin-right: 0px;
	margin-left: 10px;
}
.latest-painting-details-links>a>i {
    margin-right: 0px;
    margin-left: 10px;
}
.latest-news-title>span>i{
	margin-right: 0px;
	margin-left: 5px;
}
.email-main-text{
	order: 1;
}
.email-main-form>input{
	padding-left: 0px;
	padding-right: 30px;
}
.email-main-form>a{
	right: 80%;
	left: 0px;
	border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.email-main-form{
	order: 2;
}
.shopping-list-number:last-child{
	margin-right: 24px;
}
.shopping-list-number:first-child{
	margin-right: 0px;
}
.shopping-list-text>a>i {
    margin-right: 0px;
    margin-left: 10px;
}
.newsletter-text>h4{
	text-align: left;
	margin-right: 0px;
	margin-left: 30px;
}
.newsletter-form>input{
	width: 65%;
}
.newsletter-form>i {
   right: 1%;
}
.footer-main-number-1{
	margin-right: 0px;
	margin-left: 15px;
}
.footer-main-number-2{
	margin-right: 0px;
	margin-left: 65px;
}
.footer-main-number-2-text>i{
	margin-right: 0px;
	margin-left: 10px;
}
.footer-main-number-2>span{
	margin-right: 27px;
	margin-left: 0px;
}
.copyright-bar-links>a:last-child {
     margin-right: 15px; 
 }
 .footer-main-number-3>a>i{
 	margin-left: 10px;
 	margin-right: 0px;
 }